<div class="card border-danger shadow-sm">
  <div class="card-body">
    <h5 class="card-title text-danger fw-bold">Confirmar exclusão</h5>
    <p class="card-text">
      Deseja realmente excluir o usuário <strong>{{ usuario.nome }}</strong>?
    </p>

    <div class="d-flex gap-2 flex-column flex-sm-row mt-3">
      <!-- Confirmar exclusão -->
      <button class="btn btn-danger w-100" hx-post="{% url 'usuario_delete' usuario.pk %}" hx-target="#conteudo-admin"
        hx-swap="innerHTML">
        Confirmar
      </button>

      <!-- Cancelar -->
      <button class="btn btn-secondary w-100" hx-get="{% url 'usuarios_list' %}" hx-target="#conteudo-admin"
        hx-swap="innerHTML">
        Cancelar
      </button>
    </div>
  </div>
</div>