{% load form_filters %}

<div class="p-3">

  <p class="text-muted mb-3 text-center">
    {% if modo_edicao %}
    Atualize as informações do patrimônio.
    {% else %}
    Preencha os dados para cadastrar um novo patrimônio.
    {% endif %}
  </p>

  {% if form.non_field_errors %}
  <div class="alert alert-danger py-2 small">
    {% for error in form.non_field_errors %}
    ⚠️ {{ error }}
    {% endfor %}
  </div>
  {% endif %}

  <form method="POST"
    hx-post="{% if modo_edicao %}{% url 'patrimonio_edit' patrimonio.id %}{% else %}{% url 'patrimonio_add' %}{% endif %}"
    hx-target="#modal-patrimonio-body" hx-swap="innerHTML" novalidate>

    {% csrf_token %}

    {% for field in form %}

    {% if field.field.widget.input_type == "checkbox" %}

    <div class="form-check mb-3">
      {{ field|add_class:"form-check-input" }}
      <label class="form-check-label fw-semibold" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>
      {% if field.errors %}
      <div class="text-danger small">{{ field.errors.0 }}</div>
      {% endif %}
    </div>

    {% else %}

    <div class="form-floating mb-3">
      {{ field|add_class:"form-control"|add_placeholder:field.label }}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>

      {% if field.errors %}
      <div class="invalid-feedback d-block">
        {{ field.errors.0 }}
      </div>
      {% endif %}
    </div>

    {% endif %}

    {% endfor %}

    <div class="d-flex justify-content-between mt-4">

      <button type="button" data-bs-dismiss="modal" class="btn btn-outline-success w-50 me-2 rounded-3 py-2">
        Fechar
      </button>

      <button type="submit" class="btn btn-primary w-50 rounded-3 py-2">
        {% if modo_edicao %}Salvar Alterações{% else %}Cadastrar{% endif %}
      </button>
    </div>

  </form>

</div>