<div class="modal-header bg-danger text-white rounded-top-4">
    <h5 class="modal-title">Confirmar Exclusão</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <p>Tem certeza que deseja excluir o inventariante
        <strong>{{ inventariante.user.username }}</strong>?
    </p>

    <div class="d-flex gap-2 flex-column flex-sm-row">
        <button class="btn btn-danger w-100" hx-post="{% url 'inventariante_delete' inventariante.pk %}"
            hx-target="#inventariante-list" hx-swap="innerHTML">
            Confirmar Exclusão
        </button>

        <button class="btn btn-secondary w-100" data-bs-dismiss="modal">
            Cancelar
        </button>
    </div>
</div>