{% extends "app_inventario/base.html" %}
{% load static %}

{% block content %}
<div class="mb-3">
  <h5 class="fw-bold">Lista de Patrimônios</h5>
  <button 
    class="btn btn-success btn-sm mt-2"
    hx-get="{% url 'patrimonio_form' %}"
    hx-target="#form-patrimonio-container"
    hx-swap="innerHTML">
    Adicionar Patrimônio
  </button>
</div>

<!-- Contêiner do formulário HTMX -->
<div id="form-patrimonio-container" class="mb-3"></div>

<!-- Contêiner da tabela -->
<div id="tabela-patrimonios">
  {% include 'app_inventario/partials/tabela_patrimonios.html' %}
</div>

<script>
  if (!window._htmxHandlersInitialized) {
    document.body.addEventListener("htmx:afterRequest", (event) => {
      const url = event.detail.pathInfo.path;
      if (url.includes("patrimonio_edit") || url.includes("patrimonio_form")) {
        const formContainer = document.querySelector("#form-patrimonio-container");
        if (formContainer) formContainer.innerHTML = "";
        htmx.trigger("body", "refreshList");
      }
    });

    window._htmxHandlersInitialized = true;
  }
</script>
{% endblock %}
