<table class="table table-striped table-hover">
  <thead class="table-success">
    <tr>
      <th>ID</th>
      <th>Descrição</th>
      <th>Nº Patrimônio</th>
      <th>Responsável</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for p in lista %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.descricao }}</td>
        <td>{{ p.numero_patrimonio }}</td>
        <td>{{ p.responsavel }}</td>
        <td>
          <button class="btn btn-success btn-sm"
            hx-get="{% url 'patrimonio_edit' p.id %}"
            hx-target="#modal-patrimonio-body"
            data-bs-toggle="modal"
            data-bs-target="#modalPatrimonio">
            Editar
          </button>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5" class="text-center">Nenhum patrimônio encontrado.</td></tr>
    {% endfor %}
  </tbody>
</table>

{% include "partials/paginacao.html" %}
