<div class="mb-3">
  <h5 class="fw-bold">Lista de Usuários</h5>
  <button class="btn btn-success btn-sm mt-2" hx-get="{% url 'usuario_add' %}" hx-target="#conteudo-admin"
    hx-swap="innerHTML">
    Adicionar Usuário
  </button>
</div>

<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>Função</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.matricula }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.funcao }}</td>
      <td>{{ usuario.telefone }}</td>
      <td>
        <!-- Botão Editar -->
        <button hx-get="{% url 'usuario_edit' usuario.pk %}" hx-target="#conteudo-admin" hx-swap="innerHTML"
          class="btn btn-outline-primary btn-sm me-1">
          Editar
        </button>

        <!-- Botão Excluir -->
        <button hx-get="{% url 'usuario_delete' usuario.pk %}" hx-target="#conteudo-admin" hx-swap="innerHTML"
          class="btn btn-outline-danger btn-sm">
          Excluir
        </button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center text-muted">
        Nenhum usuário cadastrado.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>