{% extends "app_inventario/base.html" %}

{% block body_class %}index-page{% endblock %}

{% block content %}
<main class="container mt-5">

    <!-- Cabeçalho -->
    <header class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">Sistema de Inventário</h1>
        
    </header>

    <!-- Sobre -->
    <section class="mb-5">
        <h2 class="h4 fw-semibold mb-3 text-darck">Sobre o processo de Inventário</h2>
        
    </section>

        </div>
    </section>

</main>
{% endblock content %}
