<div class="mb-3">

  {# TÍTULO DA SEÇÃO #}
  <h5 class="fw-bold text-success text-center">Lista de Patrimônios</h5>

  {# IDENTIFICAÇÃO DO PERFIL DO USUÁRIO LOGADO #}
  {% if is_admin %}
  <p class="text-secondary text-center">
    Responsável (acesso total):
    <strong>
      {{ request.user.get_full_name|default:request.user.username }}
    </strong>
  </p>
  {% else %}
  <p class="text-secondary text-center">
    Inventariante responsável:
    <strong>
      {{ request.user.inventariante|default:"Inventariante não vinculado" }}
    </strong>
  </p>
  {% endif %}

  {# CAMPO DE BUSCA COM HTMX #}
  <div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" name="q"
      placeholder="Buscar Patrimônio (Nº, Descrição, Setor, Dependência...)" value="{{ search_query }}"
      hx-get="{% url 'patrimonio_list' %}" hx-trigger="keyup changed delay:750ms, search"
      hx-target="#conteudo-patrimonios" hx-swap="innerHTML" hx-indicator="#loading-indicator">

    <button class="btn btn-outline-secondary" type="button">
      <span id="loading-indicator" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
        style="display: none;"></span>
      Buscar
    </button>
  </div>

  {# BOTÕES DE AÇÃO PRINCIPAIS #}
  <div class="d-flex justify-content-center gap-2 mt-2">
    {# Botões exclusivos para administradores #}
    {% if is_admin %}
    {# Botão de cadastro manual de patrimônio (verde outline) #}
    <button class="btn btn-sm btn-outline-success w-100" hx-get="{% url 'patrimonio_add' %}"
      hx-target="#modal-patrimonio-body" hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#modalPatrimonio">
      Adicionar Patrimônio
    </button>

    <button class="btn btn-sm btn-outline-primary w-100" hx-get="{% url 'upload_planilha_modal' %}"
      hx-target="#modal-upload-planilha-body" hx-swap="innerHTML" data-bs-toggle="modal"
      data-bs-target="#modalUploadPlanilha">
      Inserir Planilha (.xlsx)
    </button>

    <button class="btn btn-sm btn-outline-danger w-100" hx-get="{% url 'excluir_planilha_confirm' %}"
      hx-target="#modal-confirmacao-planilha-body" hx-swap="innerHTML" data-bs-toggle="modal"
      data-bs-target="#modalConfirmacaoPlanilha">
      Excluir Planilha
    </button>

    {% endif %}
  </div>
</div>

{# LISTAGEM DE PATRIMÔNIOS + PAGINAÇÃO #}
<div id="conteudo-patrimonios" style="overflow-x: auto; width: 100%;">
  {% include "app_inventario/partials/tabela_e_paginacao.html" %}
</div>