<div class="mb-3">
  <h5 class="fw-bold text-success">Lista de Patrimônios</h5>

  {% if request.user.is_superuser %}
      <p class="text-secondary">
        Visualizando: <strong>TODOS os patrimônios</strong>
      </p>
  {% else %}
      <p class="text-secondary">
        Visualizando patrimônios de: 
        <strong>{{ request.user.inventariante }}</strong>
      </p>
  {% endif %}

  <button
    class="btn btn-success btn-sm mt-2"
    hx-get="{% url 'patrimonio_add' %}"
    hx-target="#modal-patrimonio-body"
    hx-swap="innerHTML"
    data-bs-toggle="modal"
    data-bs-target="#modalPatrimonio"
  >
    Adicionar Patrimônio
  </button>
</div>

<div id="tabela-patrimonios">
  {% include 'app_inventario/partials/tabela_patrimonios.html' %}
</div>

<!-- PAGINAÇÃO -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    {% if lista_patrimonios.has_previous %}
      <li class="page-item">
        <a 
          class="page-link" 
          href="#" 
          hx-get="{% url 'patrimonio_list' %}?page=1"
          hx-target="#conteudo-admin"
          hx-swap="innerHTML"
        >&laquo; Primeira</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo; Primeira</span>
      </li>
    {% endif %}

    {% if lista_patrimonios.has_previous %}
      <li class="page-item">
        <a 
          class="page-link" 
          href="#" 
          hx-get="{% url 'patrimonio_list' %}?page={{ lista_patrimonios.previous_page_number }}"
          hx-target="#conteudo-admin"
          hx-swap="innerHTML"
        >Anterior</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Anterior</span>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">
        {{ lista_patrimonios.number }} / {{ lista_patrimonios.paginator.num_pages }}
      </span>
    </li>

    {% if lista_patrimonios.has_next %}
      <li class="page-item">
        <a 
          class="page-link" 
          href="#" 
          hx-get="{% url 'patrimonio_list' %}?page={{ lista_patrimonios.next_page_number }}"
          hx-target="#conteudo-admin"
          hx-swap="innerHTML"
        >Próxima</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Próxima</span>
      </li>
    {% endif %}

    {% if lista_patrimonios.has_next %}
      <li class="page-item">
        <a 
          class="page-link" 
          href="#" 
          hx-get="{% url 'patrimonio_list' %}?page={{ lista_patrimonios.paginator.num_pages }}"
          hx-target="#conteudo-admin"
          hx-swap="innerHTML"
        >Última &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Última &raquo;</span>
      </li>
    {% endif %}

  </ul>
</nav>
